<div class="container">
  <div class="page-header">
    <h1 class="text-center">Gist details</h1>
    <p class="text-right">
      <a href="/gists" class="btn btn-success btn-lg">Show all gists</a>
    </p>
  </div>
  <div class="row" id="gists">
    <%= render @gist %>
  </div>
</div>
